/* From Prototype:
Colors
Text: #090C08
Primary: #0A4748
Secondary: #DA9664
Accent: #89BDB2
Background: #F8F4F9

Fonts
Header 1: Merriweather-Bold-48pt
Header 2: Merriweather-Regular-40pt
Header 3: Merriweather-Bold-32pt
Header 4: Merriweather-Regular-28pt
Footer Text: Merriweather-Bold-16pt
Nav Items: Courier Prime-Bold-24 
Body Text: Courier Prime-Regular-16pt
*/

body {
    background-color: #F8F4F9;
    color: #090C08;
    margin: 0;
    padding: 0;
    font-family: 'Courier Prime';
    font-size: ;
}

/* FONTS */
h1, h2, h3, h4, footer {
    font-family: 'Merriweather';
    text-align: center;
}
h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: ;
}
h3 {
    font-size: ;
    font-weight: normal;
}


/* NAV BAR UPDATES*/
nav {
    background: #da9664;
    color: #F8F4F9;
    text-transform: uppercase;
}

/* FOOTER */
footer {
    background: #da9664;
    color: #F8F4F9;
    font-weight: bold;
    font-size: ;
    padding: 1rem 0;
}

/* HOME PAGE */
.mission {
    background-color: #0A4748;
    color: #89BDB2;
    padding: 1.5rem;
    margin: 1.5rem 1rem;
    text-align: center;
    border-radius: 5px;
}
.mission h2 {
    color: #F8F4F9;
}

.sign-up {
    background-color: #89BDB2;
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

/* CONTACT PAGE */

.contact {
    padding-top: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 3rem;
}

.contact-information {
    border: 5px solid #89BDB2;
    padding: 1rem;
    border-radius: 10px;
}

.contact-header {
    font-family: 'Merriweather';
    text-align: center;
    color: #0a4748; 
    font-weight: bold;
}

.contact-info-paragraph{
    font-size: 16px;
    font-family: 'Courier Prime';
    color: #090C08;
}

.in-touch-header {
    font-family: 'Merriweather';
    text-align: center;
    color: #0a4748; 
    font-weight: bold;
}

.contact-form{
    background:#0A4748; 
    color:#F8F4F9;
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

input {
    color:#090C08;
}

.contact-button { 
    background:#89BDB2;
    color:#090C08; 
    font-family:'Merriweather';
    font-size: 20px;
    width: 30%;
    display: block;
    margin: 0 auto; 
    border-radius: 10px;
}

.contact-button:hover, 
.contact-button:focus {
    background:#0A4748;
    color: #F8F4F9;
    border: 3px solid #F8F4F9;
    text-decoration: underline;
}

/* ABOUT PAGE */

.about-page {
    padding-top: 80px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex; 
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 2rem;
}

.about-header {
    font-family: 'Merriweather';
    text-align: center;
    color: #0a4748; 
    font-weight: bold;
    padding-bottom: 1rem;
}

.about-paragraph {
    font-size: 16px;
    font-family: 'Courier Prime';
    color: #090C08;
}

.about {
    background:#89BDB2;
    border: 8px solid #0A4748;
    border-radius: 10px;
    padding: 1rem;
}

.about-club {
    background:#89BDB2;
    border: 8px solid #0A4748;
    border-radius: 10px;
    padding: 1rem;
}

.about-paragraph-two {
    font-size: 16px;
    font-family: 'Courier Prime';
    color: #090C08;
}

.about-club-header {
    font-family: 'Merriweather';
    text-align: center;
    color: #0a4748; 
    font-weight: bold;
    padding-bottom: 1rem;
}

.about-img {
    border-radius: 10px;
}